// Color

$color-white-1: #f6f6f6;
$color-dark-1: #000000;
$color-yellow-1: #f8b653;
$color-gray-1: #f8f8f8;

// font size

$fs-1: 16px;
$fs-2: 20px;
$fs-3: 40px;

// font weight

$fw-1: 300;
$fw-2: 400;
